
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0%;
}
#middleMan{
  font-size: x-large;
  margin-bottom: 2%;
  border-radius: 50px;
  width: 40%;
  padding: 1%;
  font-weight: bolder;
  background-color:darkslateblue;
  color: white;
}